.swig-header
{
    background-color: #E95C5D;
    font-family: "Wide Latin", serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.base-radio {
    width: 22%;
}

.swig-search
{
    width: 250px;
}

.result-border
{
    border: 2px solid black;
    padding: 1.1rem;
}

.result-entry
{
    margin: 0;
}

/* Used for troubleshooting purposes */
.trouble
{
    border: 2px solid red;
}

.trouble1
{
    border: 2px solid blueviolet;
}